<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @ticket.body %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Answer:</strong>
  <% @ticket.answers.each do |answer| %>
    <%= answer.title %>
    <%= answer.body %>
  <% end %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %> |
<%= link_to 'New Answer', new_ticket_answer_path(@ticket) %>
